name: Deploy App

on: 
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment Environment'
        required: true
        type: choice
        options:
        - 'staging'
        - 'production'
        default: 'staging'

jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: npm

      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Start test
        run: npm run test

  build:
    name: Build and deploy
    runs-on: ubuntu-20.04
    needs: test
    environment: ${{ github.event.inputs.environment }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: npm

      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Echo some env variables
        run: |
          echo "Variable 1: ${{ vars.ENV_FILE_PATH }}"

      - name: Load .env file
        uses: falti/dotenv-action@v1.0.4
        with:
          path: .env.${{ github.event.inputs.environment }}
          log-variables: true
          export-variables: true
          keys-case: upper

      - name: Build
        run: npm run build

      - name: Echo some env variables
        run: |
          echo "Variable 1: ${{ env.NODE_ENV }}"
          echo "Variable 1: ${{ env.TEST_ENV }}"
